@use 'common/style/color.module.scss' as color;

.btn_transparent {
  background-color: transparent;
}
.btn_transparent_gold {
  background-color: transparent;
  border: 1px solid color.getColor('gold');
  border-radius: 9.5px;
}
.btn_transparent_gold_02 {
  background-color: transparent;
  border: 1px solid color.getColor('gold');
  border-radius: 25px;
}
.btn_black {
  background-color: color.getColor('black');
  border-radius: 5px;
}
.btn_grey01 {
  background-color: color.getColor('grey01');
  border-radius: 3px;
  &:disabled {
    opacity: 1;
  }
}
.btn_black_white {
  background-color: color.getColor('black');
  border: 1px solid color.getColor('white');
  border-radius: 25px;
}
.btn_black_blue {
  background-color: color.getColor('black');
  border: 1px solid color.getColor('blue');
  border-radius: 25px;
}
.btn_white_black {
  background-color: color.getColor('white');
  border: 1px solid color.getColor('black');
  border-radius: 25px;
}
