@use './color.module.scss' as color;

$BLACK: 900;
$EXTRABOLD: 800;
$BOLD: 700;
$SEMIBOLD: 600;
$MEDIUM: 500;
$REGULAR: 400;
$LIGHT: 300;

$VARIANTS: (
  ('s84_medium_black', 84, $MEDIUM, 'black'),
  ('s42_bold_black', 42, $BOLD, 'black'),
  ('s16_medium_gold', 16, $MEDIUM, 'gold'),
  ('s16_medium_purple', 16, $MEDIUM, 'purple'),
  ('s16_medium_blue', 16, $MEDIUM, 'blue'),
  ('s16_regular_white', 16, $REGULAR, 'white'),
  ('s16_regular_black', 16, $REGULAR, 'black'),
  ('s12_regular_black', 12, $REGULAR, 'black')
);

@each $name, $size, $weight, $color in $VARIANTS {
  .#{$name} {
    color: color.getColor($color);
    font-size: $size + px;
    font-weight: $weight;
  }
}
