.gradient {
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-name: slideIn;
  animation-timing-function: linear;
  background:
    linear-gradient(
      270deg,
      #f2f2f2 0%,
      rgba(255, 255, 255, 0.5) 25%,
      rgba(255, 255, 255, 0.5) 75%,
      #f2f2f2 100%
    );

  @keyframes slideIn {
    0% {
      left: -80px;
    }
    33.33% {
      left: 500px;
    }
    100% {
      left: 500px;
    }
  }
}
