@use './theme.scss';

html {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  min-width: 0;
  box-sizing: inherit;
  letter-spacing: -0.02em;
}

svg,
img {
  max-width: 100%;
  max-height: 100%;
}
