:root {
  --background: #fafafa;
  --subBackground: #ffffff;
  --surface: #ffffff;
  --floatingBackground: #ffffff;
  --lightLine: #eeeeee;
  --darkLine: #dddddd;
  --subBorder: #d0d0d0;
  --mainText: #333333;
  --subText: #101010;
  --episodeBorder: #eeeeee;
  --commentText: #101010;
  --commentBorder: #f0f0f0;
  --commentTextForm: white;
  --disabledCommentTextForm: #f7f7f7;
  --disabledButton: #ffffff;
  --disabledButtonBackground: #cccccc;
  --buttonBorder: #eeeeee;
  --activeButton: #ffffff;
  --activeButtonBackground: #000000;
  --link: #000000;
  --disabledLink: #989898;
  --noticeBackground: #ffffff;
  --divider: #eeeeee;
  --lastEpisode: #f8f8f8;
}

.dark-theme {
  --background: #000000;
  --subBackground: #000000;
  --surface: #111111;
  --floatingBackground: #333333;
  --lightLine: #333333;
  --darkLine: #444444;

  --subBorder: #666666;
  --mainText: #cccccc;
  --subText: #eeeeee;
  --episodeBorder: #444444;
  --commentText: #999999;
  --commentBorder: #444444;
  --commentTextForm: #111111;
  --disabledCommentTextForm: #333333;
  --disabledButton: #eeeeee;
  --disabledButtonBackground: #666666;
  --buttonBorder: #eeeeee;
  --activeButton: #000000;
  --activeButtonBackground: #eeeeee;
  --link: #eeeeee;
  --disabledLink: #666666;
  --noticeBackground: #333333;
  --divider: #444444;
  --lastEpisode: #333333;
}

.green-theme {
  --background: #d5e7d9;
  --subBackground: #d5e7d9;
  --surface: #ebf4ee;
  --floatingBackground: #ffffff;
  --lightLine: #c9dacd;
  --darkLine: #bbcabe;

  --subBorder: #d0d0d0;
  --mainText: #333333;
  --subText: #101010;
  --episodeBorder: #eeeeee;
  --commentText: #101010;
  --commentBorder: #d6e2d9;
  --commentTextForm: #ffffff;
  --disabledCommentTextForm: #ffffff;
  --disabledButton: #ffffff;
  --disabledButtonBackground: #cccccc;
  --buttonBorder: #eeeeee;
  --activeButton: #ffffff;
  --activeButtonBackground: #000000;
  --link: #000000;
  --disabledLink: #989898;
  --noticeBackground: #d9e1da;
  --divider: #d3dfd6;
  --lastEpisode: #d9e1da;
}
