:root {
  --background: #fafafa;
  --subBackground: #fff;
  --surface: #fff;
  --floatingBackground: #fff;
  --lightLine: #eee;
  --darkLine: #ddd;
  --subBorder: #d0d0d0;
  --mainText: #333;
  --subText: #101010;
  --episodeBorder: #eee;
  --commentText: #101010;
  --commentBorder: #f0f0f0;
  --commentTextForm: white;
  --disabledCommentTextForm: #f7f7f7;
  --disabledButton: #fff;
  --disabledButtonBackground: #ccc;
  --buttonBorder: #eee;
  --activeButton: #fff;
  --activeButtonBackground: #000;
  --link: #000;
  --disabledLink: #989898;
  --noticeBackground: #fff;
  --divider: #eee;
  --lastEpisode: #f8f8f8;
}

.dark-theme {
  --background: #000;
  --subBackground: #000;
  --surface: #111;
  --floatingBackground: #333;
  --lightLine: #333;
  --darkLine: #444;
  --subBorder: #666;
  --mainText: #ccc;
  --subText: #eee;
  --episodeBorder: #444;
  --commentText: #999;
  --commentBorder: #444;
  --commentTextForm: #111;
  --disabledCommentTextForm: #333;
  --disabledButton: #eee;
  --disabledButtonBackground: #666;
  --buttonBorder: #eee;
  --activeButton: #000;
  --activeButtonBackground: #eee;
  --link: #eee;
  --disabledLink: #666;
  --noticeBackground: #333;
  --divider: #444;
  --lastEpisode: #333;
}

.green-theme {
  --background: #d5e7d9;
  --subBackground: #d5e7d9;
  --surface: #ebf4ee;
  --floatingBackground: #fff;
  --lightLine: #c9dacd;
  --darkLine: #bbcabe;
  --subBorder: #d0d0d0;
  --mainText: #333;
  --subText: #101010;
  --episodeBorder: #eee;
  --commentText: #101010;
  --commentBorder: #d6e2d9;
  --commentTextForm: #fff;
  --disabledCommentTextForm: #fff;
  --disabledButton: #fff;
  --disabledButtonBackground: #ccc;
  --buttonBorder: #eee;
  --activeButton: #fff;
  --activeButtonBackground: #000;
  --link: #000;
  --disabledLink: #989898;
  --noticeBackground: #d9e1da;
  --divider: #d3dfd6;
  --lastEpisode: #d9e1da;
}
